.formWraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin: 0;
}
.formRegister {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  padding: 1em;
  width: 50vw;
}
input {
  padding: 0.5em 3em;
  margin: 0.5em;
  background-color: #d7e3fb;
  border: none;
  border-bottom: none;
  outline: none;
}

.onsubmit-btn {
  background-color: #5e4c9a;
  color: white;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  text-align: center;
}
.onsubmit-btn:active {
  border-bottom: none;
  outline: none;
  border-bottom: none !important;
  box-shadow: none !important;
}
input:invalid {
  box-shadow: none;
}
.onsubmit-btn-wraper {
  display: flex;
  justify-content: center;
}
