.userDataDisplay {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  height: 80vh;

  /* margin-left: 10em; */

  flex-direction: column;
}
.userDataDisplayWraper {
  direction: ltr;
  display: block;
  margin: auto;
}
.date {
  color: #5e4c9a;
}
.parking-lot {
}
.data {
  display: flex;
  justify-content: space-evenly;
}
td,
tr {
  padding: 15px 0;
}
