.userDataDisplay {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  height: 80vh;

  margin-left: 15em;

  flex-direction: column;
}
.userDataDisplayWraper {
  direction: ltr;
}
.date {
  color: #5e4c9a;
}
.parking-lot {
}
.data {
  margin: 15px 0;
}
td,
tr {
  padding: 15px 0 !important;
}
