.userDataDisplay {
  display: flex;
  align-items: flex-start;
  /* margin: 0 auto; */
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
  /* margin-left: 10em; */

  flex-direction: column;
}
.userDataDisplayWraper {
  display: flex;

  justify-content: center;
}
.date {
  color: #5e4c9a;
}

.data {
  width: 50vw;
  display: flex;
  align-items: flex-start;

  justify-content: space-between;
  margin: 15px 0;
}
td,
tr {
  padding: 15px 0;
}
